grafana:
  enabled: true
  image:
    tag: 9.5.6
  # For complete list of configuration options for
  # grafana see the documentation @ https://github.com/grafana/helm-charts/tree/main/charts/grafana.
  # sidecar setup here is for custom dashboards and datasource for nuocd pushing metrics
  # to influx
  sidecar:
    dashboards:
      enabled: true
      label: "grafana_dashboard"
      searchNamespace: null
      folder: "/var/lib/grafana/dashboards"
      provider:
        name: "nuodb"
        allowUiUpdates: true
    datasources:
      enabled: true
      label: "grafana_datasource"
      searchNamespace: null

influxdb2:
  enabled: true
  image:
    tag: 2.7
  adminUser:
    password: "helloworld"
    bucket: "telegraf"
    token: "quickbrownfoxjumpsoverlazydog"
    organization: "nuodb"
  nameOverride: "influxdb2"
  service:
    port: 8086
  # For complete list of configuration options for
  # influxdb see the documentation @ https://github.com/influxdata/helm-charts/tree/master/charts/influxdb
  # the initScript here is to initialize a database for metrics from NuoDB Collector.
  initScripts:
    enabled: true
    scripts:
      init-nuodb.sh: |+
        #!/bin/bash
        set -e
        influx bucket create --name nuodb --retention 365d
        influx bucket create --name nuodb_internal --retention 365d

insights:
  grafana:
    # enabled: false - to not load dashboards nor datasources but do start grafana (grafana.enabled: true)
    #                - true only loads dashboards if grafana.enabled: true or grafana.namespaceOverride is set.
    enabled: true
    datasources:
      nuodb:
        database: nuodb
        timeInterval: 10s
        isDefault: true
      nuodb_ext:
        database: nuodb_internal
        timeInterval: 30s
  # Configure the NuoDB collector daemon.  A sidecar that collects metrics from the engine process and
  # forwards to configurable output.
  nuocollector:
    # enabled: false - will not setup NuoDB Collector configuration; set to false when starting grafana and insights
    #                  only - say in a different namespace.
    enabled: true
