grafana:
  enabled: true
  service:
    type: ClusterIP
    port: 3000
    targetPort: 3000
    portName: service
  ingress:
    enabled: true
    annotations: 
      kubernetes.io/ingress.class: nginx
    path: /
    hosts:
    - dashboard.local
  persistence:
    enabled: true

influxdb:
  enabled: true

nuoca:
  enabled: true
  
